[submodule "Coplt.Com2"]
	path = Coplt.Com2
	url = https://github.com/2A5F/Coplt.Com2
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "ThirdParty/emhash"]
	path = ThirdParty/emhash
	url = https://github.com/ktprime/emhash
[submodule "taffy"]
	path = taffy
	url = https://github.com/coplt/taffy
[submodule "ThirdParty/corrosion"]
	path = ThirdParty/corrosion
	url = https://github.com/corrosion-rs/corrosion
[submodule "ThirdParty/tuplers"]
	path = ThirdParty/tuplers
	url = https://github.com/libsugar/tuplers
